DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=your_database_name
DB_SSL=true if heroku
DB_PORT=5432
MAILGUN_API_KEY= replace with private api key from mailgun account
MAILGUN_DOMAIN= replace with sandbox domain from mailgun account
