<!DOCTYPE html>
<html lang="en">
  <head>
    <title>dSide</title>

    <meta name="viewport" ontent="width=devicewidth">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|PT+Sans+Narrow:400,700" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav id="nav-bar">
      <h1 class="header">dSide</h1>
    </nav>

    <!-- Logo -->

    <!-- Div that holds text input and button -->
  </body>
</html>
