<!DOCTYPE html>
<html lang="en">
  <head>
    <title>dSide</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|PT+Sans+Narrow:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="nav-bar">
      <h1 class="header">dSide</h1>
    </nav>

    <main>
      <div class="container">
        <section>
          <h3>What would you like to dSide?</h3>
          <form method="POST" action="/">
            <div class="form-group">
              <label>Title</label>
              <input class="form-control" type="text" placeholder="Ask your question">
            </div>
            <div class="form-group">
              <label>Option 1</label>
              <input class="form-control" type="text" placeholder="Create options">
            </div>
            <div class="form-group">
              <label>Option 2</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <label>Option 3</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <label>Option 4</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <label name="email">Email</label>
              <input class="form-control" type="email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <button type="submit">Submit</button>
            </div>
          </form>

        </section>

      </div>
    </main>
  </body>
</html>
