<!DOCTYPE html>
<html lang="en">
  <head>

    <title>dSide</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|PT+Sans+Narrow:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="icon" href="../images/dside-logo.png" type="image/png"</>

    <!-- External scripts -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Local scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="nav-bar">
      <h1 class="header">dSide</h1>
    </nav>

    <main>
      <div class="container">
        <section class="form-container">
          <form method="POST" action="/api/users/poll">
            <div class="form-group">
              <label name="email">Enter your email address</label>
              <input class="form-control" type="email" id="email" name="email" placeholder="example@example.com">
              <p class="err" id="missing-email">Please enter your email</p>
            </div>
            <div class="form-group">
              <label name="question">Ask your question</label>
              <input class="form-control" id="question" name="question" type="text" placeholder="Do you like pizza?">
              <p class="err" id="missing-question">Please enter the question you'd like answered</p>
            </div>
            <div class="form-group">
              <label name="option1">Enter your options</label>
              <input class="form-control" id="option1" name="option1" type="text" placeholder="Yes.">
              <p class="err" id="missing-option1">Please enter the first option you're presenting</p>
            </div>
            <div class="form-group">
              <input class="form-control" id="option2" name="option2" type="text" placeholder="I am a terrible person.">
              <p class="err" id="missing-option2">Please enter the second option you're presenting</p>
            </div>
            <div class ="add-option-div">
              <button type="button" class="add-option btn btn-default btn-xs">Add another option</button>
            </div>
            <div class="form-group">
              <label name="emails">Enter email of who to send your question to:</label>
              <input class="form-control" id="emails" name="emails" type="text">
              <p class="err" id="missing-recipients">Please enter the email addresses of the people you'd like to poll</p>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default poll-submit">Submit</button>
            </div>
          </form>

        </section>

      </div>
    </main>
  </body>
</html>
