<!DOCTYPE html>
<html lang="en">
  <head>

    <title>dSide</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|PT+Sans+Narrow:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- External scripts -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Local scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="nav-bar">
      <h1 class="header">dSide</h1>
    </nav>

    <main>
      <div class="container">
        <section>
          <h3>What would you like to dSide?</h3>
          <form method="POST" action="/">
            <div class="form-group">
              <label>Title</label>
              <input class="form-control" id="question" type="text" placeholder="Ask your question">
            </div>
            <div class="form-group">
              <label>Option 1</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <label>Option 2</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <label>Option 3</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <label>Option 4</label>
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
              <label name="email">Email</label>
              <input class="form-control" type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <button type="submit">Submit</button>
            </div>
          </form>

        </section>

      </div>
    </main>
  </body>
</html>
