

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>dSide</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|PT+Sans+Narrow:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="nav-bar">
      <h1 class="header">dSide</h1>
    </nav>

    <main>
      <div class="container">
        <section>
          <h3>What would you like to dSide?</h3>
          <form method="POST" action="/api/users/poll">
            <div class="form-group">
              <label name="question">Title</label>
              <input class="form-control" id="question" name="question" type="text" placeholder="Ask your question">
            </div>
            <div class="form-group">
              <label name="email">Enter your email</label>
              <input class="form-control" type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <label name="option1">Option 1</label>
              <input class="form-control" name="option1" type="text">
            </div>
            <div class="form-group">
              <label name="option2">Option 2</label>
              <input class="form-control" name="option2" type="text">
            </div>
            <div class="form-group">
              <label name="option3">Option 3</label>
              <input class="form-control" name="option3" type="text">
            </div>
            <div class="form-group">
              <label name="option4">Option 4</label>
              <input class="form-control" name="option4" type="text">
            </div>
            <div class="form-group">
              <label name="emails">Enter email of who to send your question to:</label>
              <input class="form-control" name="emails" type="text">
            </div>
            <div class="form-group">
              <button type="submit">Submit</button>
            </div>
          </form>

        </section>

      </div>
    </main>
  </body>
</html>
