<!DOCTYPE html>
<html lang="en">
  <head>
    <title>dSide</title>

    <meta name="viewport" ontent="width=devicewidth">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|PT+Sans+Narrow:400,700" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- Nav Bar -->
    <nav id="nav-bar">
      <h1 class="header">dSide</h1>
    </nav>

    <!-- Logo -->

    <!-- Main page container -->
    <main>
      <div>
        <section>
          <h1>What would you like to dSide?</h1>
          <form method="POST" action="/">
            <label>Title</label>
            <input type="text">

            <!-- Options -->
            <label>Option 1</label>
            <input type="text">
            <label>Option 2</label>
            <input type="text">
            <label>Option 3</label>
            <input type="text">
            <label>Option 4</label>
            <input type="text">

            <button type="submit">Submit</button>
          </form>
        </section>
      </div>
    </main>
  </body>
</html>
