<!DOCTYPE html>
<html lang="en">
  <head>
    <title>dSide</title>

     <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|PT+Sans+Narrow:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="icon" href="https://i.imgur.com/sUmDKvj.jpg"</>

    <!-- Local scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/jquery-ui.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="nav-bar">
      <h1 class="header"><a href="/">dSide</a></h1>
    </nav>

    <!-- Main page container -->
    <main>
      <div class="container">
        <section class="poll-container">
          <input type="email" name="email" id="email" placeholder="Enter your email">
          <button class="rank-btn btn btn-default">Submit</button>
          <p class="err" id="bad-email">That's not an email address that has been invited to this poll. Please try again.</p>
        </section>
      </div>
    </main>
  </body>
</html>
