$logo-font: Orbitron, sans-serif;
$text-font: PT Sans Narrow, sans-serif;
$primary-color: #eee;
$error: #ff6347;

body {
  background: url(../images/sunrise.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: $text-font;
  height: 100vh;
}

.nav-bar {
  font-family: $logo-font;
  font-size: 2em;
  color: $primary-color;
  position: fixed;
  top: 0;
  height: 3.5em;
  width: 100%;
  z-index: 5;
}

.header {
  padding-left: 1em;
  position: relative;
  top: 0.1em;

  a {
  color: $primary-color;
  }

  a:hover {
    text-decoration: none;
  }
}

.container {
  font-family: $text-font;
  font-size: 1.5em;
  text-align: center;
  color: $primary-color;
  position: relative;
  top: 7em;
  min-height: 20em;
  min-width: 20em;
  width: 80%;
}

.results-container {
  position: relative;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 400px;
  width: 90%;
}

.err {
  color: red;
  display: none;
}

#no-results {
  font-size: 2em;
  width: 100%;
  position: absolute;
  z-index: 0;
  max-height: 400px;
}

#results {
  border-width: 0px;
  width: 100%;
  z-index: 1;
}

.form-container {
  margin: 1em auto;
  width: 90%;

  .add-option-div {
    margin: 1em;
  }
}

.poll-container {
  margin: 1em auto;
  width: 90%;

  h1 {
    margin: 0.5em 0 0 0;
  }
}

#sortable {
  -webkit-padding-start: 0px;
  list-style: none;
  margin: 0.5em auto;
  font-size: 2em;
  width: 90%;

  li {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 10px auto;
    width: 75%;
  }

  li:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}


