$logo-font: Orbitron, sans-serif;
$text-font: PT Sans Narrow, sans-serif;
$primary-color: #2D4471;
$logo-border-color: #D6DBE5;
$secondary-color: #7887AB;
$tertiary-color: #061539;
$hover-color: #4F628E;


body {
  background: url(./images/blur-ocean.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: $text-font;
  color: $tertiary-color;
  height: 100vh;
}

.nav-bar {
  font-family: $logo-font;
  font-size: 2em;
  color: #eee;
  position: fixed;
  top: 0;
  height: 3.5em;
  width: 100%;
  z-index: 5;
}

.header {
  padding-left: 1em;
  position: relative;
  top: 0.1em;
}

.container {
  font-family: $text-font;
  font-size: 1.5em;
  text-align: center;
  color: #eee;
  position: relative;
  top: 7em;
  min-height: 20em;
  min-width: 20em;
  width: 80%;
}

.results-container {
  border-style: solid;
  border-width: 3px;
  position: relative;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 400px;
  width: 90%;
}

#no-results {
  align: middle;
  width: 100%;
  position: absolute;
  z-index: 0;
  max-height: 400px;
}

#results {
  border-width: 0px;
  width: 100%;
  z-index: 1;
}

.form-container {
  margin: 1em auto;
  width: 90%;

  .add-option-div {
    margin: 1em;
  }
}

.poll-container {
  margin: 1em auto;
  width: 90%;

  h1 {
    margin: 0.5em;
  }
}

#sortable {
  list-style: none;
  margin: 0.5em auto;
  padding: 0 auto;
  font-size: 2em;
  width: 90%;

  li {
    border: 1px dashed #eee;
    border-radius: 5px;
    margin: 10px auto;
    width: 75%;
  }

  li:hover {
    background-color: white;
  }
}


