$logo-font: Orbitron, sans-serif;
$text-font: PT Sans Narrow, sans-serif;
$primary-color: #2D4471;
$logo-border-color: #D6DBE5;
$secondary-color: #7887AB;
$tertiary-color: #061539;
$hover-color: #4F628E;


body {
  background-color: $primary-color;
  font-family: $text-font;
  color: $tertiary-color;
  height: 100vh;
}

.nav-bar {
  background-color: $tertiary-color;
  font-family: $logo-font;
  color: $logo-border-color;
  position: fixed;
  top: 0;
  height: 5em;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: $logo-border-color;
  border-bottom-width: 3px;
  z-index: 5;
}

.header {
  padding-left: 1em;
  position: relative;
  top: 0.1em;
}

.container {
  font-family: $text-font;
  text-align: center;
  border-style: solid;
  border-color: $tertiary-color;
  background-color: $logo-border-color;
  color: $tertiary-color;
  border-width: 3px;
  border-radius: 9px;
  position: relative;
  top: 6em;
  min-height: 20em;

}

#sortable {
  list-style: none;
  padding: 0;
  font-size: 2em;
}
